/* You can add global styles to this file, and also import other style files */
.container {
    padding-left: 0 !important;
    padding-right: 0 !important;
    max-width: 100% !important;
}
img {

}