/* You can add global styles to this file, and also import other style files */
.container {
    padding-left: 0 !important;
    padding-right: 0 !important;
    max-width: 100% !important;
}
@media (min-width: 576px){
.bd-example {
    padding: 1.5rem;
    margin-right: 0;
    margin-left: 0;
    border-width: .2rem;
}
.bd-example {
    position: relative;
    padding: 1rem;
    margin: 1rem -15px 0;
    border: solid #f7f7f9;
    border-width: .2rem 0 0;
}}

.checkout-summary {
    max-width: 500px;
    background-color: #fefefe;
  }
  
  .checkout-summary-title {
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-justify-content: space-between;
        -ms-flex-pack: justify;
            justify-content: space-between;
    padding: 1rem;
    border: 1px solid #e6e6e6;
  }
  
  .checkout-summary-item {
    border-left: 1px solid #e6e6e6;
    border-right: 1px solid #e6e6e6;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-justify-content: space-between;
        -ms-flex-pack: justify;
            justify-content: space-between;
    padding: 1rem;
    border-bottom: 1px solid #e6e6e6;
  }
  
  .checkout-summary-item .item-name,
  .checkout-summary-item .item-price {
    padding: 0 1rem;
  }
  
  .checkout-summary-item .item-name p,
  .checkout-summary-item .item-price p {
    margin: 0;
    padding: 0;
  }
  
  .checkout-summary-item .title {
    font-weight: bold;
  }
  
  .checkout-summary-details {
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-justify-content: space-between;
        -ms-flex-pack: justify;
            justify-content: space-between;
    padding: 1rem;
    border: 1px solid #e6e6e6;
    border-top: none;
  }
  
  