<app-topnav></app-topnav>
<div class="card" style="width: 18rem;">
    <img class="card-img-top" src="{{bikeimg}}" alt="Card image cap">
    <div class="card-body">
      <h5 class="card-title">Card title</h5>
      <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
      <a href="#" class="btn btn-primary">Go somewhere</a>
    </div>
  </div>
  <a class="btn btn-primary my-2" (click)="next()">Main call to action</a>
<app-botnav></app-botnav>