<button type="button" class="btn btn-info">Return home</button>

<nav class="cd-builder-main-nav disabled">
  <ul>
      <li class="active"><a href="#colors">Colors</a></li>
      <li><a href="#accessories">Accessories</a></li>
      <li><a href="#summary">Summary</a></li>
  </ul>
</nav>
<div class="container"  style="text-align:center; padding-top:1.5%;">
 <!-- Header - set the background image for the header in the line below -->
 <header class="py-5 bg-image-full" style="background-image: url('https://unsplash.it/1900/1080?image=1076');">
  <img class="img-fluid d-block mx-auto" src='assets/img/Frames/E8000_frame_Submarine.png' alt="" style="height: 200px;">
</header>
<footer class="cd-builder-footer disabled step-1">
<div class="selected-product">
<img src="assets/img/product01_col01.jpg" alt="Product preview" style="height: 91px;">

<div class="tot-price">
<span>Total</span>
<span class="total">$<b>0</b></span>
</div>
</div>
<nav class="cd-builder-secondary-nav">
<ul>
<li class="next nav-item">
<ul>
  <li class="visible"><a href="#0"(click)="start()">Accessories</a></li>
  <li><a href="#0">Summary</a></li>
  <li class="buy"><a href="#0">Buy Now</a></li>
</ul>
</li>
<li class="prev nav-item">
<ul>
  <li class="visible"><a href="#0">Models</a></li>
  <li><a href="#0">Models</a></li>
  <li><a href="#0">Colors</a></li>
  <li><a href="#0">Accessories</a></li>
</ul>
</li>
</ul>
</nav>

<span class="alert">Please, select a model first!</span>
</footer>
</div>