<app-topnav></app-topnav>
<div class="container-fluid"  style="text-align:center; padding-top:1.5%;">
    <div class="span12 text-center" style=" padding-top: 30px;">

        Select your new Ebullitt model
    
        </div>
    <div class="row justify-content-center" style="padding-top: 4%;" id="bg-row">
  <div *ngFor="let bike of bikes | async">
    <div class="col-sm-6" style="padding-top: 35px;">
      <app-bike [bike]="bike" (outputEvent)="handleEvent($event)"></app-bike>
  </div>
  <footer class="cd-builder-footer step-1">
    <div class="selected-product">
      <img src="{{_imageUrl}}" alt="Product preview" style="height: 91px;" >
      
      <div class="tot-price">
        <span>Total</span>
        <span class="total">$<b>{{ _totalPrice }}</b></span>
      </div>
    </div>
    <nav class="cd-builder-secondary-nav">
    <ul>
      <li class="next nav-item">
    <ul>
      <li class="visible"> <a (click)="toColors()">Colors</a></li>
    </ul>
  </li>
</ul>
</nav>
</footer>
</div>