<button type="button" class="btn btn-info">Return home</button>

<nav class="cd-builder-main-nav disabled">
  <ul>
      <li class="active"><a href="#colors">Colors</a></li>
      <li><a href="#accessories">Accessories</a></li>
      <li><a href="#summary">Summary</a></li>
  </ul>
</nav>
<div class="container"  style="text-align:center; padding-top:1.5%;">
 <!-- Header - set the background image for the header in the line below -->
 <header class="py-5 bg-image-full" style="background-image: url('https://unsplash.it/1900/1080?image=1076');">
  <img class="img-fluid d-block mx-auto" src='assets/img/Frames/E8000_frame_Submarine.png' alt="" style="height: 200px;">
</header>
<app-botnav></app-botnav>
</div>