<app-topnav></app-topnav>

<div class="card" style="width: 18rem;">
    <img class="card-img-top" src="{{bikeimg}}" alt="Card image cap">
    <div class="card-body">
      <h5 class="card-title">Card title</h5>
      <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
      <a href="" (click)="next()" class="btn btn-primary">Go somewhere</a>
    </div>
  </div>

  <h1>Users</h1>
  <button class="btn btn-primary" (click)="add()">Add</button>
  <table class="table table-bordered">
    <thead>
      <tr>
        <th>Username</th>
        <th>Email</th>
        <th>Edit</th>
        <th>Delete</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let user of users | async">
        <td>{{ user.Name }}</td>
        <td>{{ user.Price }}</td>
        <td>                
          <i class="glyphicon glyphicon-edit"></i>
        </td>
        <td>
                  <a>
                      <i (click)="delete(user)" class="glyphicon glyphicon-remove"></i>
                  </a>
              </td>
      </tr>
    </tbody>
  </table>
  
<app-botnav></app-botnav>