<footer class="cd-builder-footer step-1">
    <div class="selected-product">
    <img src="assets/img/product01_col01.jpg" alt="Product preview" style="height: 91px;">
    
    <div class="tot-price">
    <span>Total</span>
    <span class="total">$<b>0</b></span>
    </div>
    </div>
    <nav class="cd-builder-secondary-nav">
    <ul>
    <li class="next nav-item">
    <ul>
      <li class="visible"><a href="#0"(click)="start()">Accessories</a></li>
      <li><a href="#0">Summary</a></li>
      <li class="buy"><a href="#0">Buy Now</a></li>
    </ul>
    </li>
    <li class="prev nav-item">
    <ul>
      <li class="visible"><a href="#0">Models</a></li>
      <li><a href="#0">Models</a></li>
      <li><a href="#0">Colors</a></li>
      <li><a href="#0">Accessories</a></li>
    </ul>
    </li>
    </ul>
    </nav>
    
    <span class="alert">Pleasasde, select a model first!</span>
    </footer>