<div class="container-lol"></div>  
<a href="#bullitt"><img id="arrow" border="0" alt="W3Schools" src="assets/img/arrow.png" width="60" height="60" position="center-bottom"></a>

<div class="container-lal" id="bullitt">
     
  	<div class="row">
      <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">

            <div class="panel-body"><p>The motor puts out a maximum of <strong>250W of power </strong>
                                    and a peak of<strong> 70Nm of torques</strong>, while the battery is 
                                    a 500Wh Lithium Ion design that’s mounted to the frame. 
                                    There are three assistance modes: Eco, Trail and Boost, 
                                    with the latter giving a maximum of <strong>300% assistance. </strong></p>
            <button type="button" class="btn btn-primary btn-lg btn-block" (click)="start()">Bullit Builder</button>
            </div>
          </div>
          
          <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
            <div class="panel-body-1">
            <img src="assets/img/bluebird.jpg" width=100% height=100%;>
            </div>
          </div>
          
        </div>